# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.DS_Store
*/.DS_Store

Last login: Wed Apr 12 17:03:44 on ttys002

# lidongyue @ lidongyuedeMacBook-Pro in ~/Parallels [20:50:04] 
$ tar -czvf CentOS_slave3.tar.gz CentOS_Slave3.pvm
a CentOS_Slave3.pvm
a CentOS_Slave3.pvm/VmInfo.pvi
a CentOS_Slave3.pvm/suspended.png
a CentOS_Slave3.pvm/config.sav
a CentOS_Slave3.pvm/Snapshots
a CentOS_Slave3.pvm/config.pvs
a CentOS_Slave3.pvm/CentOS_slave3.app
a CentOS_Slave3.pvm/statistic.log
a CentOS_Slave3.pvm/Snapshots.xml
a CentOS_Slave3.pvm/config.pvs.backup
a CentOS_Slave3.pvm/parallels.log
a CentOS_Slave3.pvm/{3b712fb5-c453-4296-877b-90eafb830078}.mem
a CentOS_Slave3.pvm/CentOS Linux - slave3-0.hdd
a CentOS_Slave3.pvm/CentOS Linux - slave3-0.hdd/CentOS Linux - slave3-0.hdd.0.{6934dbaa-2e29-48d2-af6a-a3584950e0c8}.hds
a CentOS_Slave3.pvm/CentOS Linux - slave3-0.hdd/CentOS Linux - slave3-0.hdd.0.{5fbaabe3-6958-40ff-92a7-860e329aab41}.hds
a CentOS_Slave3.pvm/CentOS Linux - slave3-0.hdd/CentOS Linux - slave3-0.hdd.0.{2dffb0fb-5030-44b8-b3bc-30f6c17ddf99}.hds
a CentOS_Slave3.pvm/CentOS Linux - slave3-0.hdd/DiskDescriptor.xml
a CentOS_Slave3.pvm/CentOS Linux - slave3-0.hdd/CentOS Linux - slave3-0.hdd.0.{7f759aef-e429-4264-8f82-62d5535ed95b}.hds
a CentOS_Slave3.pvm/CentOS Linux - slave3-0.hdd/DiskDescriptor.xml.Backup
a CentOS_Slave3.pvm/CentOS Linux - slave3-0.hdd/CentOS Linux - slave3-0.hdd.{5fbaabe3-6958-40ff-92a7-860e329aab41}.cache
a CentOS_Slave3.pvm/CentOS Linux - slave3-0.hdd/CentOS Linux - slave3-0.hdd.drh
a CentOS_Slave3.pvm/CentOS Linux - slave3-0.hdd/CentOS Linux - slave3-0.hdd.0.{19643674-ae9a-4030-a229-a3651d39faef}.hds
a CentOS_Slave3.pvm/CentOS Linux - slave3-0.hdd/CentOS Linux - slave3-0.hdd
a CentOS_Slave3.pvm/CentOS_slave3.app/Contents
a CentOS_Slave3.pvm/CentOS_slave3.app/Contents/MacOS
a CentOS_Slave3.pvm/CentOS_slave3.app/Contents/Resources
a CentOS_Slave3.pvm/CentOS_slave3.app/Contents/Info.plist
a CentOS_Slave3.pvm/CentOS_slave3.app/Contents/PkgInfo
a CentOS_Slave3.pvm/CentOS_slave3.app/Contents/Resources/English.lproj
a CentOS_Slave3.pvm/CentOS_slave3.app/Contents/Resources/AppParams.pva
a CentOS_Slave3.pvm/CentOS_slave3.app/Contents/Resources/WinAppHelper.icns
a CentOS_Slave3.pvm/CentOS_slave3.app/Contents/Resources/English.lproj/InfoPlist.strings
a CentOS_Slave3.pvm/CentOS_slave3.app/Contents/MacOS/WinAppHelper
a CentOS_Slave3.pvm/Snapshots/{7f759aef-e429-4264-8f82-62d5535ed95b}.mem
a CentOS_Slave3.pvm/Snapshots/{6934dbaa-2e29-48d2-af6a-a3584950e0c8}.pvi
a CentOS_Slave3.pvm/Snapshots/{2dffb0fb-5030-44b8-b3bc-30f6c17ddf99}.sav
a CentOS_Slave3.pvm/Snapshots/{7f759aef-e429-4264-8f82-62d5535ed95b}.pvc
a CentOS_Slave3.pvm/Snapshots/{2dffb0fb-5030-44b8-b3bc-30f6c17ddf99}.pvi
a CentOS_Slave3.pvm/Snapshots/{2dffb0fb-5030-44b8-b3bc-30f6c17ddf99}.png
a CentOS_Slave3.pvm/Snapshots/{19643674-ae9a-4030-a229-a3651d39faef}.pvc
a CentOS_Slave3.pvm/Snapshots/{7f759aef-e429-4264-8f82-62d5535ed95b}.png
a CentOS_Slave3.pvm/Snapshots/{6934dbaa-2e29-48d2-af6a-a3584950e0c8}.pvc
a CentOS_Slave3.pvm/Snapshots/{7f759aef-e429-4264-8f82-62d5535ed95b}.pvi
a CentOS_Slave3.pvm/Snapshots/{7f759aef-e429-4264-8f82-62d5535ed95b}.sav
a CentOS_Slave3.pvm/Snapshots/{2dffb0fb-5030-44b8-b3bc-30f6c17ddf99}.pvc
a CentOS_Slave3.pvm/Snapshots/{2dffb0fb-5030-44b8-b3bc-30f6c17ddf99}.mem
a CentOS_Slave3.pvm/Snapshots/{19643674-ae9a-4030-a229-a3651d39faef}.pvi

# lidongyue @ lidongyuedeMacBook-Pro in ~/Parallels [8:31:10] 
$ cd /Users/lidongyue/codes/git_source_code                          

# lidongyue @ lidongyuedeMacBook-Pro in ~/codes/git_source_code [10:08:19] 
$ git clone https://github.com/hashicorp/raft.git                                         
Cloning into 'raft'...
fatal: unable to access 'https://github.com/hashicorp/raft.git/': Failed to connect to github.com port 443 after 75017 ms: Operation timed out

# lidongyue @ lidongyuedeMacBook-Pro in ~/codes/git_source_code [10:09:41] C:128
$ git clone https://gitee.com/paincupid/raft.git                                     
Cloning into 'raft'...
remote: Enumerating objects: 4483, done.
remote: Counting objects: 100% (4483/4483), done.
remote: Compressing objects: 100% (1412/1412), done.
remote: Total 4483 (delta 3042), reused 4483 (delta 3042), pack-reused 0
Receiving objects: 100% (4483/4483), 2.20 MiB | 801.00 KiB/s, done.
Resolving deltas: 100% (3042/3042), done.

# lidongyue @ lidongyuedeMacBook-Pro in ~/codes/git_source_code [22:32:37] 
$ cd /Users/lidongyue/codes/GitHub/arthur-dy-lee-note/raft                                      

# lidongyue @ lidongyuedeMacBook-Pro in ~/codes/GitHub/arthur-dy-lee-note/raft on git:master x [23:37:31] 
$ git clone https://github.com/jeffrey-xiao/papers.git                                    
Cloning into 'papers'...
remote: Enumerating objects: 206, done.
remote: Counting objects: 100% (32/32), done.
remote: Compressing objects: 100% (13/13), done.
remote: Total 206 (delta 21), reused 27 (delta 19), pack-reused 174
Receiving objects: 100% (206/206), 104.01 MiB | 12.61 MiB/s, done.
Resolving deltas: 100% (91/91), done.

# lidongyue @ lidongyuedeMacBook-Pro in ~/codes/GitHub/arthur-dy-lee-note/raft on git:master x [23:37:47] 
$ cd papers                                               

# lidongyue @ lidongyuedeMacBook-Pro in ~/codes/GitHub/arthur-dy-lee-note/raft/papers on git:master o [23:38:11] 
$ ls
README.md       causality       consensus       consistency     data-structures notes           p2p             references.bib  systems         testing         textbooks

# lidongyue @ lidongyuedeMacBook-Pro in ~/codes/GitHub/arthur-dy-lee-note/raft/papers on git:master o [23:38:11] 
$ cd cons                              
cd: no such file or directory: cons

# lidongyue @ lidongyuedeMacBook-Pro in ~/codes/GitHub/arthur-dy-lee-note/raft/papers on git:master o [23:38:18] C:1
$ cd consensus/ 

# lidongyue @ lidongyuedeMacBook-Pro in ~/codes/GitHub/arthur-dy-lee-note/raft/papers/consensus on git:master o [23:38:25] 
$ ls
consensus-bridging-theory-and-practice.pdf
flexible-paxos-quorum-intersection-revisited.pdf
impossibility-of-distributed-consensus-with-one-faulty-process.pdf
in-search-of-an-understandable-consensus-algorithm.pdf
paxos-made-live-an-engineering-perspective.pdf
paxos-made-simple.pdf
raft-refloated-do-we-have-consensus.pdf
the-part-time-parliament.pdf
unreliable-failure-detectors-for-reliable-distributed-systems.pdf
viewstamped-replication-a-new-primary-copy-method-to-support-highly-available-distributed-systems.pdf
viewstamped-replication-revisited.pdf
vive-la-difference-paxos-vs-viewstamped-replication-vs-zab.pdf
zab-high-performance-broadcast-for-primary-backup-systems.pdf
zookeepers-atomic-broadcast-protocol-theory-and-practice.pdf

# lidongyue @ lidongyuedeMacBook-Pro in ~/codes/GitHub/arthur-dy-lee-note/raft/papers/consensus on git:master x [8:51:32] 
$ cd ..        

# lidongyue @ lidongyuedeMacBook-Pro in ~/codes/GitHub/arthur-dy-lee-note/raft/papers on git:master x [11:29:46] 
$ cd ..

# lidongyue @ lidongyuedeMacBook-Pro in ~/codes/GitHub/arthur-dy-lee-note/raft on git:master x [11:29:47] 
$ ls
papers                                                      raft-zh_cn                                                  raft.md
pics                                                        raft-zh_cn.pdf                                              raft_In Search of an Understandable Consensus Algorithm.pdf

# lidongyue @ lidongyuedeMacBook-Pro in ~/codes/GitHub/arthur-dy-lee-note/raft on git:master x [11:29:48] 
$ cd /Users/lidongyue/codes/GitHub/arthur-dy-lee-note  

# lidongyue @ lidongyuedeMacBook-Pro in ~/codes/GitHub/arthur-dy-lee-note on git:master x [11:30:22] 
$ git add .                                           
warning: adding embedded git repository: raft/papers
hint: You've added another git repository inside your current repository.
hint: Clones of the outer repository will not contain the contents of
hint: the embedded repository and will not know how to obtain it.
hint: If you meant to add a submodule, use:
hint: 
hint: 	git submodule add <url> raft/papers
hint: 
hint: If you added this path by mistake, you can remove it from the
hint: index with:
hint: 
hint: 	git rm --cached raft/papers
hint: 
hint: See "git help submodule" for more information.
warning: adding embedded git repository: raft/raft-zh_cn

# lidongyue @ lidongyuedeMacBook-Pro in ~/codes/GitHub/arthur-dy-lee-note on git:master x [11:31:08] 
$ git rm --cached raft/papers
error: the following file has staged content different from both the
file and the HEAD:
    raft/papers
(use -f to force removal)

# lidongyue @ lidongyuedeMacBook-Pro in ~/codes/GitHub/arthur-dy-lee-note on git:master x [11:31:52] C:1
$ ls
JVM                   Mysql                 centos                hbase                 mybaits               spring                软件方法
LICENSE               README.md             coreJava              interview             netty                 xmind                 高并发高可用.md
LeetCode              algorithm             distributed           kafka                 raft                  设计模式
Linux                 biz                   hadoop                kubernetes            redis                 读书笔记

# lidongyue @ lidongyuedeMacBook-Pro in ~/codes/GitHub/arthur-dy-lee-note on git:master x [11:32:26] 
$ cd raft                                            

# lidongyue @ lidongyuedeMacBook-Pro in ~/codes/GitHub/arthur-dy-lee-note/raft on git:master x [11:32:28] 
$ ls
consensus-bridging-theory-and-practice.pdf                  raft-zh_cn                                                  raft.md
pics                                                        raft-zh_cn.pdf                                              raft_In Search of an Understandable Consensus Algorithm.pdf

# lidongyue @ lidongyuedeMacBook-Pro in ~/codes/GitHub/arthur-dy-lee-note/raft on git:master x [11:32:29] 
$ cd raft-zh_cn 

# lidongyue @ lidongyuedeMacBook-Pro in ~/codes/GitHub/arthur-dy-lee-note/raft/raft-zh_cn on git:master x [11:32:31] 
$ ls
README.md     images        raft-zh_cn.md

# lidongyue @ lidongyuedeMacBook-Pro in ~/codes/GitHub/arthur-dy-lee-note/raft/raft-zh_cn on git:master x [11:32:32] 
$ cd images    

# lidongyue @ lidongyuedeMacBook-Pro in ~/codes/GitHub/arthur-dy-lee-note/raft/raft-zh_cn/images on git:master x [11:32:34] 
$ ls
raft-图1.png   raft-图11.png  raft-图13.png  raft-图15.png  raft-图2.png   raft-图4.png   raft-图6.png   raft-图8.png
raft-图10.png  raft-图12.png  raft-图14.png  raft-图16.png  raft-图3.png   raft-图5.png   raft-图7.png   raft-图9.png

# lidongyue @ lidongyuedeMacBook-Pro in ~/codes/GitHub/arthur-dy-lee-note/raft/raft-zh_cn/images on git:master x [11:32:35] 
$ cd ..    

# lidongyue @ lidongyuedeMacBook-Pro in ~/codes/GitHub/arthur-dy-lee-note/raft/raft-zh_cn on git:master x [11:32:37] 
$ cd ..

# lidongyue @ lidongyuedeMacBook-Pro in ~/codes/GitHub/arthur-dy-lee-note/raft on git:master x [11:32:41] 
$ git add .                  

# lidongyue @ lidongyuedeMacBook-Pro in ~/codes/GitHub/arthur-dy-lee-note/raft on git:master x [11:32:43] 
$ git commit -m "raft2"                               
[master ddd4d07] raft2
 2 files changed, 1 insertion(+)
 create mode 160000 raft/raft-zh_cn

# lidongyue @ lidongyuedeMacBook-Pro in ~/codes/GitHub/arthur-dy-lee-note/raft on git:master x [11:32:51] 
$ git add .            

# lidongyue @ lidongyuedeMacBook-Pro in ~/codes/GitHub/arthur-dy-lee-note/raft on git:master x [11:34:59] 
$ git commit -m "raft3"
[master d16d948] raft3
 1 file changed, 0 insertions(+), 0 deletions(-)

# lidongyue @ lidongyuedeMacBook-Pro in ~/codes/GitHub/arthur-dy-lee-note/raft on git:master x [11:35:03] 
$ cd ..

# lidongyue @ lidongyuedeMacBook-Pro in ~/codes/GitHub/arthur-dy-lee-note on git:master o [11:37:22] 
$ cd ~/.  

# lidongyue @ lidongyuedeMacBook-Pro in ~ [11:39:36] 
$ ls
Adlm                             Documents                        Postman                          controlconfig.conf               software
Applications                     Downloads                        Public                           data                             springboot-security-jwt
Applications (Parallels)         Library                          RecentHostImage                  dim_date_2021_05_31_21_54_03.txt sunlogincontrol.pid
Arthur                           Movies                           Sites                            getting-started                  tmp
Books                            Music                            Virtual Machines.localized       learn                            websocket
Caches                           OneDrive                         WeDrive                          log
DataGripProjects                 Parallels                        brew_install                     logs
Desktop                          Pictures                         codes                            meinedb.sqlite3

# lidongyue @ lidongyuedeMacBook-Pro in ~ [11:39:37] 
$ sudo vim ~/.gitignore_global                        
Password:

# lidongyue @ lidongyuedeMacBook-Pro in ~ [11:40:03] 
$ 
git rm -r --cached 
fatal: not a git repository (or any of the parent directories): .git

# lidongyue @ lidongyuedeMacBook-Pro in ~ [11:40:09] C:128
$ git rm -r
fatal: not a git repository (or any of the parent directories): .git

# lidongyue @ lidongyuedeMacBook-Pro in ~ [11:40:30] C:128
$ ls
Adlm                             Documents                        Postman                          controlconfig.conf               software
Applications                     Downloads                        Public                           data                             springboot-security-jwt
Applications (Parallels)         Library                          RecentHostImage                  dim_date_2021_05_31_21_54_03.txt sunlogincontrol.pid
Arthur                           Movies                           Sites                            getting-started                  tmp
Books                            Music                            Virtual Machines.localized       learn                            websocket
Caches                           OneDrive                         WeDrive                          log
DataGripProjects                 Parallels                        brew_install                     logs
Desktop                          Pictures                         codes                            meinedb.sqlite3

# lidongyue @ lidongyuedeMacBook-Pro in ~ [11:40:36] 
$ vim ~/.gitconfig

# lidongyue @ lidongyuedeMacBook-Pro in ~ [11:41:55] 
$ .gitignore_global
zsh: permission denied: .gitignore_global

# lidongyue @ lidongyuedeMacBook-Pro in ~ [11:42:11] C:126
$ vim .gitignore_global            

# lidongyue @ lidongyuedeMacBook-Pro in ~ [11:42:31] 
$ ls
Adlm                             Documents                        Postman                          controlconfig.conf               software
Applications                     Downloads                        Public                           data                             springboot-security-jwt
Applications (Parallels)         Library                          RecentHostImage                  dim_date_2021_05_31_21_54_03.txt sunlogincontrol.pid
Arthur                           Movies                           Sites                            getting-started                  tmp
Books                            Music                            Virtual Machines.localized       learn                            websocket
Caches                           OneDrive                         WeDrive                          log
DataGripProjects                 Parallels                        brew_install                     logs
Desktop                          Pictures                         codes                            meinedb.sqlite3

# lidongyue @ lidongyuedeMacBook-Pro in ~ [11:42:32] 
$ vim .gitconfig                 

# lidongyue @ lidongyuedeMacBook-Pro in ~ [11:43:21] 
$ 
git rm -r
fatal: not a git repository (or any of the parent directories): .git

# lidongyue @ lidongyuedeMacBook-Pro in ~ [11:43:48] C:128
$ git config --global core.excludesfile ~/.gitignore_global

# lidongyue @ lidongyuedeMacBook-Pro in ~ [11:44:04] 
$ vim .gitignore_global                                    

*.sar
*.tar
*.tar.gz
*.zip
*.rar
*.7z
*.iso
*.dmg
*.rpm

# Eclipse project files
.classpath
.project
.settings/


# Intellij project files
*.iml
.idea/

# project
application-local.properties
build/

# Mobile Tools for Java
.mtj.tmp/

# BlueJ files
*.ctxt

# virtual machine crash logs
hs_err_pid*

# tmp
tmp/
temp/

#OS generated files
.DS_Store
.Spotlight-V100
.Trashes
Thumbs.db

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

## maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

